.swatch {
  display: block;
  float: left;
  width: 50%;
  margin-bottom: 0;
  padding: $spacing-medium;
  color: $color-navy-white;
  page-break-inside: avoid;

  &--navy-blue {
    background-color: $color-navy-blue;
  }

  &--navy-white {
    background-color: $color-navy-white;
    color: $color-navy-black;
  }

  &--navy-black {
    background-color: $color-navy-black;
  }

  &--yellow {
    background-color: $color-yellow;
    color: $color-navy-black;
  }

  &--gray {
    background-color: $color-gray;
    color: $color-navy-black;
  }

  &--teal-blue {
    background-color: $color-teal-blue;
  }

  &__name {
    font-family: $font-serif;
    font-weight: bold;
  }

  &__hex,
  &__rgb {
    font-family: $font-mono;
  }

  &__options {
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  &__option {
    &--large {
      font-size: 18px;
      font-weight: bold;
    }

    &--navy-blue {
      color: $color-navy-blue;
    }

    &--navy-white {
      color: $color-navy-white;
    }

    &--navy-black {
      color: $color-navy-black;
    }

    &--gray {
      color: $color-gray;
    }

    &--yellow {
      color: $color-yellow;
    }

    &--teal-blue {
      color: $color-teal-blue;
    }
  }
}

.palette {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  overflow: hidden;

  .swatch {
    max-width: none;

    &--navy-blue {
      width: 100%;
    }

    &--teal-blue {
      width: 100%;
    }

    &__name {
      margin-bottom: $spacing-small * 4;
    }

    @media screen and (min-width: 1000px),
           print and (min-width: 8in) {
      width: 25%;
    }
  }
}

.text-color-combinations {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  overflow: hidden;

  .swatch {
    width: 100%;
    max-width: none;

    &__name {
      margin-bottom: $spacing-large;
    }

    @media screen and (min-width: $small-screen),
           print and (min-width: 4in) {
      width: 50%;
      min-height: 24rem;
    }

    @media screen and (min-width: 1000px),
           print and (min-width: 8in) {
      & {
        width: 25%;
      }
    }
  }
}
