.hint {
  margin-top: $spacing-medium;
  margin-bottom: $spacing-medium;
  padding: $spacing-medium;
  background-color: $color-gray;
  font-size: $md-small-font-size;
  page-break-inside: avoid;

  code {
    font-weight: bold;
  }

  &__type {
    margin-bottom: $spacing-small;
    font-size: $small-font-size;
    font-weight: bold;
    text-transform: uppercase;
  }
}
