.specimen { 
  margin-top: $spacing-large;
  margin-bottom: $spacing-large;

  &__name {
    font-family: $font-serif;
    font-weight: $font-bold;
  }

  &__variation {
    font-family: $font-sans;
    font-size: $small-font-size;;
    font-weight: $font-normal;
  }

  &__example {
    margin-top: $spacing-small;
    padding-top: $spacing-md-small;
    border-top: 1px solid $color-gray;
    font-size: $h1-font-size;
    line-height: $heading-line-height;
  }

  &--roboto-regular &__example {
    font-family: $font-sans;
    font-weight: $font-normal;
  }

  &--roboto-slab-bold &__example {
    font-family: $font-serif;
    font-weight: $font-bold;
  }
}
