.specimen { 
  &__name {
    font-family: $font-serif;
    font-weight: bold;
  }

  &__variation {
    font-family: $font-sans;
    font-weight: normal;
    font-size: 1.5rem;
  }

  &__example {
    font-size: 6rem;
  }

  &--roboto-regular &__example {
    font-family: 'Roboto';
    font-weight: 400;
  }

  &--roboto-slab-bold &__example {
    font-family: 'Roboto Slab';
    font-weight: 700;
  }
}
