@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/roboto_regular.woff') format('woff');
  font-weight: $font-normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/roboto_italic.woff') format('woff');
  font-weight: $font-normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/roboto_bold.woff') format('woff');
  font-weight: $font-bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/roboto_bolditalic.woff') format('woff');
  font-weight: $font-bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/roboto_slab/roboto_slab_bold.woff') format('woff');
  font-weight: $font-bold;
  font-style: normal;
}
