@import "normalize";
@import "rouge-github";
@import "variables";

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}
  
@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $body-text-color;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5 {
  line-height: 1.3em;
}

p {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

a {
  color: $body-link-color;
  text-decoration: none;
  font-weight: normal;

  &:hover {
    text-decoration: underline;
  }
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
  }

  + .btn {
    margin-left: 1rem;
  }

  @include large {
    padding: 0.75rem 1rem;
  }

  @include medium {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  @include small {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;

    + .btn {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}

.nxt-col-1 {width: 8.33%; float:left;}
.nxt-col-2 {width: 16.66%; float:left;}
.nxt-col-3 {width: 25%; float:left;}
.nxt-col-4 {width: 33.33%; float:left;}
.nxt-col-5 {width: 41.66%; float:left;}
.nxt-col-6 {width: 50%; float:left;}
.nxt-col-7 {width: 58.33%; float:left;}
.nxt-col-8 {width: 66.66%; float:left;}
.nxt-col-9 {width: 75%; float:left;}
.nxt-col-10 {width: 83.33%; float:left;}
.nxt-col-11 {width: 91.66%; float:left;}
.nxt-col-12 {width: 100%; float:left;}

.navy-blue {
  background: #003B4F;
  color: #ffffff;
}

.navy-yellow {
  background: #E8B00F;
  color: #08262C;
}

.teal-blue {
  background: #088199;
  color: #ffffff;
}

#header-gradient {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
		display: inline-block;
		width: 100%;
		height: 400px;
	        float: left;
                padding-top: 2rem;
}

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-position: center;
    background-size: cover;
    background-image: url("https://usnavy.github.io/Navy-Design-Guide/img/hero-image.jpg");
    height: 75rem;
}

#hero-chevron-container {
		float: left;
		z-index: 2;
		background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
		width: 100vw;

	}
	
	    #hero-chevron {
		float: left;
		margin-left: 50vw;
		margin-top: 26rem;
		z-index: 1;
	        color: #FFFFFF;
		font-size: 25px;

	}

             #hero-chevron > a > img {
		width: 50px;

	}
		#hero {
		z-index: -99;

	}

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;

  @include large {
    font-size: 3.25rem;
  }

  @include medium {
    font-size: 2.25rem;
  }

  @include small {
    font-size: 1.75rem;
  }
}

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;

  @include large {
    font-size: 1.25rem;
  }

  @include medium {
    font-size: 1.15rem;
  }

  @include small {
    font-size: 1rem;
  }
}

.main-content {
  word-wrap: break-word;

  :first-child {
    margin-top: 0;
  }

  @include large {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }

  @include medium {
    padding: 2rem 4rem;
    font-size: 1.1rem;
  }

  @include small {
    padding: 2rem 1rem;
    font-size: 1rem;
  }

  a {
    float: left;
  }
  
  img {
    max-width: 100%;
    min-width: 60px;
    height: auto;
  }

  display {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 52px;
    line-height: 1.3em;
  }
  
  h1, .h1 {
    font-family: $font-serif;
    font-weight: $font-bold;
    font-size: $h1-font-size;
  }
  
  h2, .h2 {
    font-family: $font-serif;
    font-weight: $font-bold;
    font-size: $h2-font-size;
  }

  h3, .h3 {
    font-family: $font-serif;
    font-weight: $font-bold;
    font-size: $h3-font-size;
  }
  
  h4, .h4 {
    font-family: $font-serif;
    font-weight: $font-bold;
    font-size: $h4-font-size;
  }
  
  h5, .h5 {
    font-family: $font-serif;
    font-weight: $font-bold;
    font-size: $h5-font-size;
  }
  
  h6, .h6 {
    font-family: $font-serif;
    font-weight: $font-bold;
    font-size: $h6-font-size;
    text-transform: uppercase;
  }
  
  p {
    margin-bottom: 1em;
  }

  code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: $code-text-color;
    background-color: $code-bg-color;
    border-radius: 0.3rem;
  }

  pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: $code-text-color;
    word-wrap: normal;
    background-color: $code-bg-color;
    border: solid 1px $border-color;
    border-radius: 0.3rem;

    > code {
      padding: 0;
      margin: 0;
      font-size: 0.9rem;
      color: $code-text-color;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0;
    }
  }

  .highlight {
    margin-bottom: 1rem;

    pre {
      margin-bottom: 0;
      word-break: normal;
    }
  }

  .highlight pre,
  pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem;
    -webkit-overflow-scrolling: touch;
  }

  pre code,
  pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;

    &:before,
    &:after {
      content: normal;
    }
  }

  ul,
  ol {
    margin-top: 0;
  }

  blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: $blockquote-text-color;
    border-left: 0.3rem solid $border-color;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all; // For Firefox to horizontally scroll wider tables.
    -webkit-overflow-scrolling: touch;

    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 0.5rem 1rem;
      border: 1px solid $table-border-color;
    }
  }

  dl {
    padding: 0;

    dt {
      padding: 0;
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: bold;
    }

    dd {
      padding: 0;
      margin-bottom: 1rem;
    }
  }

  hr {
    height: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 1rem 0;
    background-color: #C6CCD0;
    border: 0;
  }
}

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px $hr-border-color;

  @include large {
    font-size: 1rem;
  }

  @include medium {
    font-size: 1rem;
  }

  @include small {
    font-size: 0.9rem;
  }
}

.site-footer-owner {
  display: block;
  font-weight: bold;
}

.site-footer-credits {
  color: $blockquote-text-color;
}

.swatch-box-large {
  width: 300px;
  height: 300px;
}

.swatch-box {
  width: 200px;
  height: 200px;
}

.navy-logo {
  width: 300px;
}
  
.roboto-regular {
  font-family: 'Roboto';
  font-weight: 400;
}

.roboto-slab-bold {
  font-family: 'Roboto Slab';
  font-weight: 700;
}

.medium-image-frame {
  width: 100%;
}

.image-center {
  width: 100%;
  justify-content:center;
  align-items: center;
  display: flex;
  float: left;
  align-self: center;
}

.chevron {
  height: 15px;
  padding-left: 10px;
  float: left;
  display: inline-block;
  margin-top: 10px;
}

.site-footer a {
  float: none;
}

#contribute-guidance {
  background: #003b4f;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #088199;
}

#contribute-guidance:hover {
  background: #088199;
  border: 1px solid #003b4f;
}

#contribute-guidance a {
  color: #ffffff;
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 17px;
}

.button-style {
  background: #003b4f;
  padding: 10px;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #088199;
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 17px;
  margin-top: 20px;
}

.button-style:hover {
  background: #088199;
  border: 1px solid #003b4f;
}
.contribute-comment {
  display: none;
  width: 0px;
  height: 0px;
}

.menu {
  float: left;
  border: 1px solid #C6CCD0;
  max-width:400px;
  min-width: 270px;
  display: inline-block;
  padding-left: 1rem;
  padding-bottom: 1rem;
  background: #ffffff;
  padding-right: 1rem;
}

.menu-item {
  background: #ffffff;
  border: 0px solid #ffffff;
  display: block;
}

.menu-item a {
  color: #003b4f;
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 20px; 
  float: left;
}

.menu-item a:hover {
  color: #088199;
}
  .main-content {
    max-width: 64rem;
    min-width: 40rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
}

.nav {
  padding-left: 20px;
}

.roboto-slab {
  font-family: 'Roboto Slab';
  font-weight: 700;
}

.roboto {
  font-family: 'Roboto';
  font-weight: 400;
}

.index-image {
  height: 100%;
}

.project-tagline {
    font-size: 1.25rem;
    color: #ffffff;
    opacity: 1;
}

.navy-logo-print {
    width: 0px;
    height: 0px;
    display: none;  
}

.main-content a {
    float: none !important;
}

@media print {
    .page-header {
    text-align: center;
    background-color: #003b4f;
}

   .page-header > h1, h2 {
    color: #003b4f;
}
   .page-header > a {
    width: 0px;
    height: 0px;
    display: none;
}
   .page-header > button {
    width: 0px;
    height: 0px;
    display: none;
}
 
   .button-style {
    width: 0px;
    height: 0px;
    display: none;   
}

.main-content {
    margin-top: -13.5rem;	
    float: left;
}
	
.navy-logo {
    width: 0px;
    height: 0px;
    display: none;  
}

.navy-logo-print {
    width: 300px;
    display: block;
}
	
  .contribute-comment {
  display: block;
  width: 100%;
  height: 100%;
  color: #003b4f;
}
	
 #main-navigation {
    width: 0px;
    height: 0px;
    display: none;
} 
  
 #contribute-guidance {
    width: 0px;
    height: 0px;
    display: none;
}   
  #color {
    width: 0px;
    height: 0px;
    display: none;
  }
  #typography {
    width: 0px;
    height: 0px;
    display: none;
  }
  
  #media {
    width: 0px;
    height: 0px;
    display: none;
  }
  
  #layout {
    width: 0px;
    height: 0px;
    display: none;
  }
  
  .menu {
    width: 0px;
    height: 0px;
    display: none;    
  }
  
  .menu-item {
    width: 0px;
    height: 0px;
    display: none;
}

.swatch-box-large {
    width: 150px;
    height: 150px;
}
  
.swatch-box {
    width: 100px;
    height: 100px;
}  
  
  .container-hide {
    width: 0px;
    height: 0px;
    display: none;
  }
	
.project-name {
    color:#003B4F;
}

.project-tagline {
    color: #003B4F;
}
}

@media only screen and (max-width: 1721px) {
    .menu {
        min-width: 100%;
    }
  
  .main-content {
        min-width: 100%;
        margin-top: 45rem;
  }
  
  .page-header > a {
    margin-top: 10px;
}
}
