@import "normalize";
@import "rouge-github";
@import "variables";

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
  color: $body-text-color !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif !important;
}

h1, h2, h3, h4, h5 {
  line-height: 1.3em !important;
}

p {
  margin-top: 1.5em !important;
  margin-bottom: 1em !important;
}

a {
  color: $body-link-color !important;
  text-decoration: none !important;
  font-weight: normal !important;

  &:hover {
    text-decoration: underline !important;
  }
}

.btn {
  display: inline-block !important;
  margin-bottom: 1rem !important;
  color: rgba(255, 255, 255, 0.7) !important;
  background-color: rgba(255, 255, 255, 0.08) !important;
  border-color: rgba(255, 255, 255, 0.2) !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-radius: 0.3rem !important;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s !important;

  &:hover {
    color: rgba(255, 255, 255, 0.8) !important;
    text-decoration: none !important;
    background-color: rgba(255, 255, 255, 0.2) !important;
    border-color: rgba(255, 255, 255, 0.3) !important;
  }

  + .btn {
    margin-left: 1rem !important;
  }

  @include large {
    padding: 0.75rem 1rem !important;
  }

  @include medium {
    padding: 0.6rem 0.9rem !important;
    font-size: 0.9rem !important;
  }

  @include small {
    display: block !important;
    width: 100% !important;
    padding: 0.75rem !important;
    font-size: 0.9rem !important;

    + .btn {
      margin-top: 1rem !important;
      margin-left: 0!important;
    }
  }
}

.nxt-col-1 {width: 8.33% !important; float:left !important;}
.nxt-col-2 {width: 16.66% !important; float:left !important;}
.nxt-col-3 {width: 25% !important; float:left !important;}
.nxt-col-4 {width: 33.33% !important; float:left !important;}
.nxt-col-5 {width: 41.66% !important; float:left !important;}
.nxt-col-6 {width: 50% !important; float:left !important;}
.nxt-col-7 {width: 58.33% !important; float:left !important;}
.nxt-col-8 {width: 66.66% !important; float:left !important;}
.nxt-col-9 {width: 75% !important; float:left !important;}
.nxt-col-10 {width: 83.33% !important; float:left !important;}
.nxt-col-11 {width: 91.66% !important; float:left !important;}
.nxt-col-12 {width: 100% !important; float:left !important;}

.navy-blue {
  background: #003B4F !important;
  color: #ffffff !important;
}

.navy-yellow {
  background: #E8B00F !important;
  color: #08262C !important;  
}

.teal-blue {
  background: #088199 !important;
  color: #ffffff !important;  
}

.page-header {
  color: $header-heading-color !important;
  text-align: center !important;
  background-color: #003b4f !important;

  @include large {
    padding: 5rem 6rem !important;
  }

  @include medium {
    padding: 3rem 4rem !important;
  }

  @include small {
    padding: 2rem 1rem !important;
  }
}

.project-name {
  margin-top: 0 !important;
  margin-bottom: 0.1rem !important;

  @include large {
    font-size: 3.25rem !important;
  }

  @include medium {
    font-size: 2.25rem !important;
  }

  @include small {
    font-size: 1.75rem !important;
  }
}

.project-tagline {
  margin-bottom: 2rem !important;
  font-weight: normal !important;
  opacity: 0.7 !important;

  @include large {
    font-size: 1.25rem !important;
  }

  @include medium {
    font-size: 1.15rem !important;
  }

  @include small {
    font-size: 1rem !important;
  }
}

.main-content {
  word-wrap: break-word !important;

  :first-child {
    margin-top: 0 !important;
  }

  @include large {
    max-width: 64rem !important;
    padding: 2rem 6rem !important;
    margin: 0 auto !important;
    font-size: 1.1rem !important;
  }

  @include medium {
    padding: 2rem 4rem !important;
    font-size: 1.1rem !important;
  }

  @include small {
    padding: 2rem 1rem !important;
    font-size: 1rem !important;
  }

  a {
    float: left !important;
  }
  
  img {
    max-width: 100% !important;
  }

  display {
    font-family: 'Roboto Slab' !important;
    font-weight: 700 !important;
    font-size: 52px !important;
    line-height: 1.3em !important;
  }
  
  h1, .h1 {
    font-family: $font-serif !important;
    font-weight: $font-bold !important;
    font-size: $h1-font-size !important;
  }
  
  h2, .h2 {
    font-family: $font-serif !important;
    font-weight: $font-bold !important;
    font-size: $h2-font-size !important;
  }

  h3, .h3 {
    font-family: $font-serif !important;
    font-weight: $font-bold !important;
    font-size: $h3-font-size !important;
  }
  
  h4, .h4 {
    font-family: $font-serif !important;
    font-weight: $font-bold !important;
    font-size: $h4-font-size !important;
  }
  
  h5, .h5 {
    font-family: $font-serif !important;
    font-weight: $font-bold !important;
    font-size: $h5-font-size !important;
  }
  
  h6, .h6 {
    font-family: $font-serif !important;
    font-weight: $font-bold !important;
    font-size: $h6-font-size !important;
    text-transform: uppercase !important;
  }
  
  p {
    margin-bottom: 1em !important;
  }

  code {
    padding: 2px 4px !important;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
    font-size: 0.9rem !important;
    color: $code-text-color !important;
    background-color: $code-bg-color !important;
    border-radius: 0.3rem !important;
  }

  pre {
    padding: 0.8rem !important;
    margin-top: 0 !important;
    margin-bottom: 1rem !important;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
    color: $code-text-color !important;
    word-wrap: normal !important;
    background-color: $code-bg-color !important;
    border: solid 1px $border-color !important;
    border-radius: 0.3rem !important;

    > code {
      padding: 0 !important;
      margin: 0 !important;
      font-size: 0.9rem !important;
      color: $code-text-color !important;
      word-break: normal !important;
      white-space: pre !important;
      background: transparent !important;
      border: 0 !important;
    }
  }

  .highlight {
    margin-bottom: 1rem !important;

    pre {
      margin-bottom: 0 !important;
      word-break: normal !important;
    }
  }

  .highlight pre,
  pre {
    padding: 0.8rem !important;
    overflow: auto !important;
    font-size: 0.9rem !important;
    line-height: 1.45 !important;
    border-radius: 0.3rem !important;
    -webkit-overflow-scrolling: touch !important;
  }

  pre code,
  pre tt {
    display: inline !important;
    max-width: initial !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: initial !important;
    line-height: inherit !important;
    word-wrap: normal !important;
    background-color: transparent !important;
    border: 0 !important;

    &:before,
    &:after {
      content: normal !important;
    }
  }

  ul,
  ol {
    margin-top: 0 !important;
  }

  blockquote {
    padding: 0 1rem !important;
    margin-left: 0 !important;
    color: $blockquote-text-color !important;
    border-left: 0.3rem solid $border-color !important;

    > :first-child {
      margin-top: 0 !important;
    }

    > :last-child {
      margin-bottom: 0 !important;
    }
  }

  table {
    display: block !important;
    width: 100% !important;
    overflow: auto !important;
    word-break: normal !important;
    word-break: keep-all !important; // For Firefox to horizontally scroll wider tables.
    -webkit-overflow-scrolling: touch !important;

    th {
      font-weight: bold !important;
    }

    th,
    td {
      padding: 0.5rem 1rem !important;
      border: 1px solid $table-border-color !important;
    }
  }

  dl {
    padding: 0 !important;

    dt {
      padding: 0 !important;
      margin-top: 1rem !important;
      font-size: 1rem !important;
      font-weight: bold !important;
    }

    dd {
      padding: 0 !important;
      margin-bottom: 1rem !important;
    }
  }

  hr {
    height: 2px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin: 1rem 0 !important;
    background-color: #C6CCD0 !important;
    border: 0 !important;
  }
}

.site-footer {
  padding-top: 2rem !important;
  margin-top: 2rem !important;
  border-top: solid 1px $hr-border-color !important;

  @include large {
    font-size: 1rem !important;
  }

  @include medium {
    font-size: 1rem !important;
  }

  @include small {
    font-size: 0.9rem !important;
  }
}

.site-footer-owner {
  display: block !important;
  font-weight: bold !important;
}

.site-footer-credits {
  color: $blockquote-text-color !important;
}

.swatch-box-large {
  width: 300px !important;
  height: 300px !important;
}

.swatch-box {
  width: 200px !important;
  height: 200px !important;
}

.navy-logo {
  width: 300px !important;
}
  
.roboto-regular {
  font-family: 'Roboto' !important;
  font-weight: 400 !important;
}

.roboto-slab-bold {
  font-family: 'Roboto Slab' !important;
  font-weight: 700 !important;
}

.medium-image-frame {
  width: 100% !important;
}

.image-center {
  width: 100% !important;
  justify-content:center !important;
  align-items: center !important;
  display: flex !important;
  float: left !important;
  align-self: center !important;
}

.chevron {
  height: 15px !important;
  padding-left: 10px !important;
  float: left !important;
  display: inline-block !important;
  margin-top: 10px !important;
}

.site-footer a {
  float: none !important;
}

#contribute-guidance {
  background: #003b4f !important;
  padding: 10px !important;
  border-radius: 5px !important;
  border: 1px solid #088199 !important;
}

#contribute-guidance:hover {
  background: #088199 !important;
  border: 1px solid #003b4f !important; 
}

#contribute-guidance a {
  color: #ffffff !important;
  font-family: 'Roboto Slab' !important;
  font-weight: 700 !important;
  font-size: 17px !important;  
}

.button-style {
  background: #003b4f !important;
  padding: 10px !important;
  color: #ffffff !important;
  border-radius: 5px !important;
  border: 1px solid #088199 !important;
  font-family: 'Roboto Slab' !important;
  font-weight: 700 !important;
  font-size: 17px !important;
}

.button-style:hover {
  background: #088199 !important;
  border: 1px solid #003b4f !important; 
}

.contribute-comment {
  display: none !important;
  width: 0px !important;
  height: 0px !important;
}

.menu {
  float: left !important;
  border: 1px solid #C6CCD0 !important;
  max-width:400px !important;
  min-width: 350px !important;
  display: inline-block !important;
  padding: 5rem !important;
}

.menu-item {
  background: #ffffff !important;
  border: 0px solid #ffffff !important;
  display: block !important;
}

.menu-item a {
  color: #003b4f !important;
  font-family: 'Roboto Slab' !important;
  font-weight: 400 !important;
  font-size: 20px !important;  
  float: left !important;
}

.menu-item a:hover {
  color: #088199 !important;
}
  .main-content {
    max-width: 64rem !important;
    min-width: 40rem !important;
    padding: 2rem 6rem !important;
    margin: 0 auto !important;
    font-size: 1.1rem !important;
    border: 1px solid #C6CCD0 !important;
}

.page-header > h1, h2 {
    color: #ffffff !important;
    font-family: 'Roboto Slab' !important;
}

.nav {
  padding-left: 20px !important;
}

@media print {
    .page-header {
    color: #fff !important;
    text-align: center !important;
    background-color: #003b4f !important;
    height: 0px !important;
}
   .page-header > h1, h2 {
    color: #003b4f !important;
}
   .page-header > a {
    width: 0px !important;
    height: 0px !important;
    display: none !important;
}
   .page-header > button {
    width: 0px !important;
    height: 0px !important;
    display: none !important;
}
  
  .contribute-comment {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  color: #003b4f !important;
}
 #main-navigation {
    width: 0px !important;
    height: 0px !important;
    display: none !important; 
} 
  
 #contribute-guidance {
    width: 0px !important;
    height: 0px !important;
    display: none !important; 
}   
  #color {
    width: 0px !important;
    height: 0px !important;
    display: none !important; 
  }
  #typography {
    width: 0px !important;
    height: 0px !important;
    display: none !important; 
  }
  
  #media {
    width: 0px !important;
    height: 0px !important;
    display: none !important; 
  }
  
  #layout {
    width: 0px !important;
    height: 0px !important;
    display: none !important; 
  }
  
  .menu-item {
    width: 0px !important;
    height: 0px !important;
    display: none !important; 
}
  
  .container-hide {
    width: 0px !important;
    height: 0px !important;
    display: none !important;  
  }
}
