// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #112a59 !default;
$header-bg-color-secondary: #a0a0a0 !default;

// Headings
$font-serif: 'Roboto Slab' !default;
$font-bold: 700 !default;
$line-height: 1.3em !default;
$h1-font-size: 40px !default;
$h2-font-size: 30px !default;
$h3-font-size: 20px !default;
$h4-font-size: 17px !default;
$h5-font-size: 15px !default;
$h6-font-size: 13px !default;

// Text
$section-headings-color: #003b4f !default;
$body-text-color: #08262C !default;
$body-link-color: #003b4f !default;
$blockquote-text-color: #088199 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #003b4f !default;

// Borders
$border-color: #C6CCD0   !default;
$table-border-color: #C6CCD0   !default;
$hr-border-color: #C6CCD0   !default;

// Lead Paragraph
$font-sans: 'Robot'   !default;
$font-normal: 400   !default;
$lead-font-size: 20px !default;
$lead-line-height: 1.7em  !default;

// Body
$font-sans: 'Robot'   !default;
$font-normal: 400   !default;
$base-font-size: 20px  !default;
$base-line-height: 1.5em  !default;

// Spacing
$spacing-x-small: 0.5rem   !default;
$spacing-small: 1rem   !default;
$spacing-md-small: 1.5rem   !default; 
$spacing-medium: 2rem   !default;
$spacing-large: 3rem   !default;
