@mixin text-style-lead {
  font-size: $lead-font-size;
  line-height: $lead-line-height;
}

h6 {
  font-weight: $font-bold;
}

p, li {
  max-width: $text-max-width;
}

%quote {
  margin-left: 0;
  padding-left: $spacing-medium;
  border-left: 4px solid $color-gray;
  font-style: italic;
}

%quote--primary {
  border-left: 6px solid $color-navy-blue;

  p {
    @include text-style-lead;
  }
}

blockquote {
  @extend %quote;
}

.quote {
  @extend %quote;

  &--primary {
    @extend %quote--primary;
  }
}

.usa-font-lead {
  font-family: $font-sans;
}
